# Variables de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Compilación
dist/
build/
out/

# documentacion
*.md
